---
import Layout from '@layouts/Layout.astro';
import SectionsLayout from "@layouts/about/SectionsLayout.astro"
import ProfessionalInfoLayout from '@layouts/about/professional-info/ProfessionalInfoLayout.astro';
---
<Layout title="Franklin Rodriguez">
    <SectionsLayout>
        <ProfessionalInfoLayout>
            <div>
                <p>
                    professional info
                </p>
            </div>
        </ProfessionalInfoLayout>
    </SectionsLayout>
</Layout>