---
import Layout from '@layouts/Layout.astro';
import AboutLayout from "@layouts/about/AboutLayout.astro"
export const prerender = true;
---
<Layout title="Franklin Rodriguez">
    <AboutLayout>
        <div>
            <p>
                education
            </p>
        </div>
    </AboutLayout>
</Layout>