---
import Layout from '@layouts/Layout.astro';
import AboutLayout from "@layouts/about/AboutLayout.astro"
import CommentCode from '@components/CommentCode';

const code = `Education:
<br/>
Bachelor's Degree in Computer Science Universidad del Zulia, Maracaibo, Venezuela - 2018
Specialized in Specific area of computer science, if applicable, e.g., software engineering, web development
Acquired foundational knowledge in programming languages, data structures, 
algorithms, and software development principles. Self-Taught Web Developer. Passionate about staying up-to-date with the latest web technologies and trends.
Continuously expanding skills in web development frameworks, libraries, and tools 
(e.g., [list of relevant technologies, such as React, Angular, Node.js, Python]).
Proficient in building scalable, efficient, and user-friendly web applications.
`
---
<Layout title="Franklin Rodriguez">
    <AboutLayout>
          <div class="p-5 py-10 max-w-[900px]">
            <CommentCode code={code} client:only="react"/>
          </div>
    </AboutLayout>
</Layout>