---
import Layout from '@layouts/Layout.astro';
import AboutLayout from "@layouts/about/AboutLayout.astro"
import CommentCode from '@components/CommentCode';

const code = `Ever since I was a kid at Amenodoro Urdaneta School, I've been hooked on coding. I would spend hours in front of the computer, playing games, but mostly learning. Computers were my world, and I loved figuring out how to make things work.`;
---
<Layout title="Franklin Rodriguez">
    <AboutLayout>
          <div class="p-5 py-10 max-w-[900px]">
            <CommentCode code={code} client:only="react"/>
          </div>
    </AboutLayout>
</Layout>