---
import Layout from '@layouts/Layout.astro';
import AboutLayout from "@layouts/about/AboutLayout.astro"
import { Code } from 'astro:components';

const code = `
/**
 * Ever since I was a kid at Amenodoro Urdaneta School, I've been hooked on coding. 
 * I would spend hours in front of the computer, playing games, but mostly learning. 
 * Computers were my world, and I loved figuring out how to make things work.
 * /
`;
---
<Layout title="Franklin Rodriguez">
    <AboutLayout>
        <div class="p-5">
            <Code code={code} lang="js" theme="aurora-x" class="!bg-transparent" wrap/>
        </div>
    </AboutLayout>
</Layout>