---
import Layout from '@layouts/Layout.astro';
import AboutLayout from "@layouts/about/AboutLayout.astro"
import CommentCode from '@components/CommentCode';
import PageHeader from '@components/PageHeader';

const code = `Ever since I was a kid at Amenodoro Urdaneta School, I've been hooked on coding. I would spend hours in front of the computer, playing games, but mostly learning. Computers were my world, and I loved figuring out how to make things work.`;
const pathname = Astro.url.pathname;
---
<Layout title="Franklin Rodriguez">
    <AboutLayout>
        <main class="flex flex-col w-full">
            <PageHeader title='hight-school' pathname={pathname}/>
          <div class="p-5 py-10 max-w-[900px]">
            <CommentCode code={code} client:only="react"/>
          </div>
        </main>
    </AboutLayout>
</Layout>