---
import Layout from '@layouts/Layout.astro';
import AboutLayout from "@layouts/about/AboutLayout.astro"
import CommentCode from '@components/CommentCode';

const code = `My life is marked by a fascinating duality: the vastness of nature and the precision of technology. I am passionate about exploring new places, connecting with biodiversity, and at the same time, building applications that can improve people's lives and preserve our planet. My particular interest lies in application infrastructure, as it is the solid foundation on which meaningful digital experiences are built.`;
---
<Layout title="Franklin Rodriguez">
    <AboutLayout>
          <div class="p-5 py-10 max-w-[900px]">
            <CommentCode code={code} client:only="react"/>
          </div>
    </AboutLayout>
</Layout>