---
import Layout from '@layouts/Layout.astro';
import AboutLayout from "@layouts/about/AboutLayout.astro"
---
<Layout title="Franklin Rodriguez">
    <AboutLayout>
        <div>
            <p>
               interests
            </p>
        </div>
    </AboutLayout>
</Layout>