---
import Layout from '@layouts/Layout.astro';
import SectionsLayout from "@layouts/about/SectionsLayout.astro"
import PersonalInfoLayout from '@layouts/about/personal-info/PersonalInfoLayout.astro';
---
<Layout title="Franklin Rodriguez">
    <SectionsLayout>
        <PersonalInfoLayout>
            <div>
                <p>
                   interests
                </p>
            </div>
        </PersonalInfoLayout>
    </SectionsLayout>
</Layout>