---
import ContactMenu from "@components/menu/ContactMenu"
import MobilePageTitle from "@components/menu/MobilePageTitle.astro"
import AsideContact from "@components/contact/AsideContact"
---

<div class="lg:h-[calc(100vh-64px-100px)] flex flex-col lg:grid lg:grid-cols-mainLayout w-full">
    <aside class="lg:w-[310px] lg:border-r-[1px] lg:border-r-linescolor sm:w-full">
        <MobilePageTitle>
            _contacts
        </MobilePageTitle>
        <ContactMenu client:load socialMediaShow/>
    </aside>
    <slot/>
    <AsideContact client:only="react"/>
</div>