---
import Layout from '@layouts/Layout.astro';
import AboutLayout from "@layouts/about/AboutLayout.astro"

const code = `
/**
 * I thrive in collaborative environments and enjoy working closely with teams to achieve 
 * common goals. I'm a strong believer in the power of open source and actively seek 
 * opportunities to contribute to open-source projects. My collaborative nature allows me 
 * to effectively communicate, problem-solve, and share knowledge with others.
 * 
 * [x] Working effectively in teams, sharing ideas, and fostering a positive work environment.
 * [x] Clearly articulating thoughts and ideas, both verbally and in writing.
 * [x] Identifying and addressing challenges in a structured and creative manner.
 * [x] Adapting to new technologies, tools, and methodologies.
 * /
`;

import { Code } from 'astro:components';
---
<Layout title="Franklin Rodriguez">
    <AboutLayout>
        <div class="p-5">
            <Code code={code} lang="js" theme="aurora-x" class="!bg-transparent" wrap/>
        </div>
    </AboutLayout>
</Layout>