---
import SubPageMenu from "@components/about/SubPageMenu.astro"
import CodeSnippersAside from "@components/CodeSnippetsAside.astro"
---

<div class="flex h-[calc(100vh-64px-100px)]">
    <SubPageMenu/>
    <slot/>
    <CodeSnippersAside/>
</div>