---
import { clsx } from 'clsx';
import arrowGraySVG from "@assets/arrow-gray-icon.svg";

interface Props{
    link: ArticleLink,
    isActive: boolean;
}

const {link, isActive} = Astro.props;
---
<a 
    href={link.href} 
    class={clsx("text-secondary-gray font-fire-code-normal font-custom-normal-size flex gap-3 hover:text-white",
        { "!text-white": isActive}
        )}
>
   {link.toggle &&  <img src={arrowGraySVG.src} alt="arrow" width="8px" height="8px" class={clsx(isActive && "rotate-90")}> }
     <img src={link.src} alt="folder icon" width="16px" height="21px" class={clsx({"ml-5": !link.toggle})}> 
    {link.title} 
</a>