---
import ArticleLink from "./ArticleLink.astro";
import downWhiteIconSVG from "@assets/down-white-arrow-icon.svg";

interface Props{
    title: string;
    links: ArticleLink[]
}

const pathname = Astro.url.pathname;

const {title, links} = Astro.props;

---
<section class="w-[245px] h-[calc(100vh-64px-109px)] border-l-[1px] border-l-linescolor">
    <div class="flex justify-start items-center h-9 border-b-[1px] border-b-linescolor">
        <img src={downWhiteIconSVG.src} alt="down arrow" height="7px" width="9px" class="mx-3">
        <span class="font-fire-code-normal font-custom-normal-size text-white">{title}</span>
    </div>
    <div class="border-b-[1px] border-b-linescolor flex flex-col px-3 py-2 gap-2">
        {
            links.map((link)=> (
                <ArticleLink link={link} isActive={link.href === pathname}/>
            ))
        }
    </div>
</section>