---
import Layout from '@layouts/Layout.astro';
import ContactLayout from '@layouts/contact/ContactLayout.astro';
import ContactForm from '@components/contact/ContactForm';
---

<Layout title="Franklin Rodriguez">
	<ContactLayout>
		<div class="flex flex-col items-center ">
			<ContactForm client:only="react"/>
		</div>
	</ContactLayout>
</Layout>

<style>
	
</style>
