---
import Layout from '@layouts/Layout.astro';
import ContactLayout from '@layouts/contact/ContactLayout.astro';
---

<Layout title="Franklin Rodriguez">
	<ContactLayout>
		<h1>contact</h1>
	</ContactLayout>
</Layout>

<style>
	
</style>
