---
import Layout from '@layouts/Layout.astro';
import Header from '@components/Header.astro';
import Footer from '@components/Footer.astro';
---

<Layout title="Franklin Rodriguez">
	<main class="flex justify-center items-center flex-col gap-64 text-center w-[100wv] h-[100vh] px-9">
			<Header/>
			<Footer/>
	</main>
</Layout>

<style>
	
</style>
