---
import Layout from '@layouts/Layout.astro';
import ProjectLayout from '@layouts/projects/ProjectLayout.astro';
---

<Layout title="Franklin Rodriguez">
	<ProjectLayout>
		<h1>projects</h1>
	</ProjectLayout>	
</Layout>

<style>
	
</style>
