---
import ArticlesMenu from "@components/about/ArticlesMenu.astro";
import { HOBBIES_LINKS } from "@constants/links";
---

<div class="hidden lg:flex h-[calc(100vh-64px-109px)]">
    <aside class="h-[calc(100vh-64px-100px)] border-r-[1px] w-[246px] border-r-linescolor">
            <ArticlesMenu title="hobbies-info" links={HOBBIES_LINKS}/>
    </aside>
    <slot/>
</div>