---
import AboutArticleSections from "@components/AboutArticleSections.astro"
---

<div class="flex h-[calc(100vh-64px-109px)]">
    <aside class="h-[calc(100vh-64px-109px)]">
        <AboutArticleSections />
    </aside>
    <slot/>
</div>