---
import ArticleLinks from "./ArticleLinks.astro"
import { PROFESSIONAL_INFO_LINKS } from "@constants/links";
---

<div class="w-[245px] h-[calc(100vh-64px-109px)] border-l-[1px] border-l-linescolor">
    <ArticleLinks title="professional-info" links={PROFESSIONAL_INFO_LINKS}/>
</div>