---
import MenuTitle from "./MenuTitle.astro"
import ArticleLink from "./about/ArticleLink.astro"
import {CONTACT_LINKS, SOCIAL_MEDIA_LINKS} from "@constants/links"
---

<section class="">
        <MenuTitle>
            contacts
        </MenuTitle>
        <ul class="flex flex-col gap-3 px-3 py-2">
           {
            CONTACT_LINKS.map((link) => (
            <li class="">
                   <ArticleLink link={link} isActive={false}/>
            </li>

            ))
           }
        </ul>
</section>