---
import Link from "./Link.astro"
import HamburgerMenu from "./HamburgerMenu";

const currentPath = Astro.url.pathname;
---

<header class="h-[49px] w-full flex justify-between lg:border-b-[1px] border-b-linescolor">
    <div class="hidden lg:flex">
        <Link link="/" large rightBorder>
            franklin-rodriguez
        </Link>
        <Link link="/" rightBorder active={currentPath === "/"}>
            _hello
        </Link>
        <Link link="/about" rightBorder active={currentPath.includes("/about")} >
            _about me
        </Link>
        <Link link="/projects" rightBorder active={currentPath === "/projects"}>
            _projects
        </Link>
    </div>
    <div class="hidden lg:flex">
        <Link link="/contact" leftBorder active={currentPath === "/contact"}>
            _contact me
        </Link>
    </div>

   <HamburgerMenu client:load>
    <>
        <Link link="/" bottomBorder active={currentPath === "/"}>
            _hello
        </Link>
        <Link link="/about" bottomBorder active={currentPath === "/about"} >
            _about me
        </Link>
        <Link link="/projects" bottomBorder active={currentPath === "/projects"}>
            _projects
        </Link>
        <Link link="/contact" bottomBorder active={currentPath === "/contact"}>
            _contact me
        </Link>
    </>
   </HamburgerMenu>
</header>