---
import {THEME} from "@constants/theme";

interface Props{
    variant?: "light" | "dark";
}

const {variant = "dark"} = Astro.props;

---

<span class={`font-fire-code-normal font-custom-size ${variant === THEME.light? "text-white": "text-primary"}`}>
    <slot />
</span>

<style>
    .font-custom-size{
        font-size: 13px;
    }
</style>