---
import { HeaderTextColor } from '@interfaces/themes';

interface Props{
    variant?: HeaderTextColor;
}

const {variant = HeaderTextColor.Primary} = Astro.props;

let style = "text-secondary-gray";

if(variant === HeaderTextColor.SecondaryWhite) style = "text-white";

---

<span class={`font-fire-code-normal font-custom-size ${style}`}>
    <slot />
</span>

<style>
    .font-custom-size{
        font-size: 13px;
    }
</style>