---
import { clsx } from 'clsx';

interface Props{
    href: string;
    customClasses?: string;
    active?: boolean;
}

const {href, customClasses, active} = Astro.props;
---

<a href={href} class={clsx("mt-6 group w-full flex justify-center items-center opacity-40 hover:opacity-100", customClasses, {"opacity-100": active})}>
    <slot/>
</a>