---
import downWhiteIconSVG from "@assets/down-white-arrow-icon.svg";

---
<div class="flex justify-start items-center h-8 lg:border-b-[1px] lg:border-b-linescolor">
    <img src={downWhiteIconSVG.src} alt="down arrow" height="7px" width="9px" class="mx-3">
    <span class="font-fire-code-normal font-custom-normal-size text-white">
        <slot/>
    </span>
</div>