---
import { PERSONAL_INFO_LINKS, PROFESSIONAL_INFO_LINKS, HOBBIES_LINKS, CONTACT_LINKS } from "@constants/links"
import ToggleMenuTitle from "./ToggleMenuTitle"
import ArticlesMenu from "./about/ArticlesMenu.astro"

---

<section class="lg:hidden w-full">
    <span class="h-[70px] font-fire-code-retina text-white flex justify-start items-center pl-6">
        _about-me
    </span>
    <ToggleMenuTitle title="professional-info" client:load>
        <ArticlesMenu  links={PROFESSIONAL_INFO_LINKS}/>
    </ToggleMenuTitle>
    <ToggleMenuTitle title="personal-info" client:load>
        <ArticlesMenu  links={PERSONAL_INFO_LINKS}/>
    </ToggleMenuTitle>
    <ToggleMenuTitle title="hobbies-info" client:load>
        <ArticlesMenu links={HOBBIES_LINKS}/>
    </ToggleMenuTitle>
    <ToggleMenuTitle title="contacts" client:load>
        <ArticlesMenu links={CONTACT_LINKS}/>
    </ToggleMenuTitle>
</section>