---
import Layout from '@layouts/Layout.astro';
import AboutLayout from "@layouts/about/AboutLayout.astro"
import CommentCode from '@components/CommentCode';

const code = `I enjoy playing volleyball and baseball, but volleyball is definitely my favorite. I also like paintball.`;
---
<Layout title="Franklin Rodriguez">
    <AboutLayout>
          <div class="p-5 py-10 max-w-[900px]">
            <CommentCode code={code} client:only="react"/>
          </div>
    </AboutLayout>
</Layout>