---
import Layout from '@layouts/Layout.astro';
import SectionsLayout from "@layouts/about/SectionsLayout.astro"
import HobbiesLayout from '@layouts/about/hobbies/HobbiesLayout.astro';
---
<Layout title="Franklin Rodriguez">
    <SectionsLayout>
        <HobbiesLayout>
            <div>
                <p>
                    sports
                </p>
            </div>
        </HobbiesLayout>
    </SectionsLayout>
</Layout>