---
interface Props{
    direction: "LEFT" | "RIGHT" | "UP" | "DOWN";
}
---
<button class="bg-egButton button-size flex justify-center items-center rounded-lg">
    <img src="eg-arrow-icon.svg" alt="arrow" />
</button>

<style>
@media screen and (min-width: 1537px) {
   .button-size{
        width: 50px;
        height: 30px;
   }
}

@media screen and (min-width: 1025px) and (max-width: 1536px) {
    .button-size{
        width: 40px;
        height: 25px;
   }
}
</style>