---
import ArticlesMenu from "@components/about/ArticlesMenu.astro";
import { PROFESSIONAL_INFO_LINKS } from "@constants/links";

---

<div class="hidden lg:flex h-[calc(100vh-64px-109px)]">
    <aside class="h-[calc(100vh-64px-109px)] border-r-[1px] border-r-linescolor">
            <ArticlesMenu title="professional-info" links={PROFESSIONAL_INFO_LINKS}/>
    </aside>
    <slot/>
</div>