---
import AboutAsideSections from "@components/AboutAsideSections.astro"
import CodeSnippersAside from "@components/CodeSnippetsAside.astro"
---
<div class="flex">
    <AboutAsideSections/>
    <slot/>
    <CodeSnippersAside/>
</div>