---
import AboutAsideSections from "@components/AboutAsideSections.astro"
import CodeSnippersAside from "@components/CodeSnippetsAside.astro"
---

<div class="flex h-[calc(100vh-64px-109px)]">
    <AboutAsideSections/>
    <slot/>
    <CodeSnippersAside/>
</div>