---
import { ViewTransitions } from "astro:transitions"
import Header from '@components/Header.astro';
import Footer from '@components/Footer.astro';

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
    <ViewTransitions fallback="none" />
		<title>{title}</title>
	</head>
	<body class="bg-primary m-8 rounded-lg border-[1px] border-linescolor flex flex-col justify-between">
    <Header/>
		<slot />
    <Footer/>
	</body>
</html>
<style is:global>
	@font-face {
  font-family: 'Fira Code';
  src: url('/fonts/FiraCode-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Fira Code light';
  src: url('/fonts/FiraCode-Light.woff2') format('woff2');
  font-weight: light;
  font-style: normal;
  font-display: fallback;
}

@font-face {
  font-family: 'Fira Code medium';
  src: url('/fonts/FiraCode-Medium.woff2') format('woff2');
  font-weight: medium;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Fira Code semi-bold';
  src: url('/fonts/FiraCode-SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: fallback;
}

@font-face {
  font-family: 'Fira Code bold';
  src: url('/fonts/FiraCode-Bold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Fira Code VF';
  src: url('/fonts/FiraCode-VF.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: fallback;
}

@font-face {
  font-family: 'Fira Code Retina';
  src: url('/fonts/FiraCode-Retina.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: fallback;
}

html{
  padding: 0;
  margin: 0;
  background-color: #010C15;
}

body{
  width: -webkit-fill-available;
  width: -moz-available;
  width: stretch;
  height: calc(100vh - 64px);
}

</style>
